header {
	position: fixed;
	bottom: 0;
	left: 0;
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	// align-content: center;
	// justify-content: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 1em;
	width: 100%;
	padding: 1em;
	background-color: var(--clr-gray);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	z-index: 1;
	// backdrop-filter: blur(4.1px);

	.hamburger {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
		width: 80px;
		padding: 0.7em 1em;
		border: none;
		// background-color: black;

		&-bar {
			height: 0.1em;
			width: 100%;
			background-color: var(--clr-white);
			border-radius: 8px;
			background-color: var(--clr-shadow);
		}

		&-bar:nth-child(2) {
			width: 60%;
		}
	}

	.header-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		border: none;
		font-size: 1.7em;
	}

	.header-btn:last-child {
		background-color: var(--clr-light-gray);

		i {
			background-color: var(--clr-light-gray);
		}
	}
}

header * {
	border-radius: 8px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	background-color: var(--clr-gray);
}

header > *:hover {
	background-color: var(--clr-light-gray);

	i {
		background-color: var(--clr-light-gray);
	}
}
