.header {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 1em;
	width: 100%;
	padding: 1em;
	background-color: var(--clr-gray);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	z-index: 1;
	// backdrop-filter: blur(4.1px);

	&-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		padding: 0.6em 1em;
		border: none;
		font-size: 1.9em;

		&-burger {
			height: 0.05em;
			width: 100%;
			max-width: 40px;
			border-radius: 8px;
			background-color: var(--clr-black);
			transition: transform 0.3s ease-in-out;
		}

		&-burger:nth-child(2) {
			width: 60%;
			max-width: 20px;
		}
	}

	&-btn-container {
		min-width: 30px;
		max-width: 80px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 0.1em;
		background-color: transparent;
		pointer-events: none;
	}


	i {
		position: absolute;
		pointer-events: none;
		background-color: transparent;
		transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out,
			transform 0.3s ease-in-out;
	}

	&-btn:last-child {
		background-color: var(--clr-light-blue);

		i {
			color: var(--clr-light-gray);
		}
	}
}

.header > * {
	border-radius: 8px;
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
	background-color: var(--clr-gray);
}

.header > *:hover {
	background-color: var(--clr-light-gray);

}

.header > *:last-child:hover {
	background-color: var(--clr-light-blue);
}
