.nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	&-container {
		width: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 1em;
		background-color: var(--clr-black);
	}

	&-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 35px;
		padding: 1em;
		border-radius: 10px;
		background-color: var(--clr-light-gray);
		font-size: 1.3rem;
		cursor: pointer;
	}

	&-btn:nth-child(2) {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
}
