.nav {
	position: fixed;
	bottom: -100%;
	left: 0;
	height: auto;
	width: 100%;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: var(--clr-black);
	z-index: 0;
	transition: bottom 0.3s ease-in-out;

	&-container {
		// background-color: var(--clr-gray);
		font-size: 1.7rem;
	}

	ul {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: space-between;
		list-style-type: none;

		li {
			padding: 20px;
			text-align: center;
		}
	}

	&-item {
		display: block;
		// border-bottom: 1px solid var(--clr-white);
		text-decoration: none;
		font-weight: lighter;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		color: var(--clr-white);
	}
}
