.nav-active {
	bottom: 68.5px;
}

.header-burger-active {
	transform: translateX(65%); /* Adjust as needed */
}

.header-btn-border {
	// background-color: var(--clr-light-gray);
	border: 1px solid var(--clr-light-blue);
}

.header-btn-last-color {
	background-color: var(--clr-gray);
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.rotate {
	transform: rotate(180deg);
}
