.groups {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 1em 2em;
	overflow-x: auto;

	&-btn {
		width: auto;
		min-height: 50px;
		padding: 1em;
		margin: 0 0.63em;
		background-color: var(--clr-gray);
		border-radius: 15px;
		border: none;
		cursor: pointer;
	}

	&-btn:first-child {
		min-width: 5em;
	}
}

.fa-plus {
	font-size: 1.8em;
}
